body {
  font-family: "Open Sans", sans-serif;
}

hr {
  border-color: #525252;
}

/* Top Navbar */

#top-nav-bar {
  background-color: #000000;
  height: 72px;
  padding: 6px 0px;
}

#top-nav-bar > nav .navbar-collapse > ul > li:hover {
  background-color: #525252;
}

#top-nav-bar > nav .navbar-collapse .dropdown-menu ul > li a:hover {
  text-decoration: underline;
}

#top-brand {
  background-color: #FFFFFF;
  font-size: 1.1em;
}

#top-brand a {
  color: #000000;
}

#brand {
  height: 62px;
}

#brand-name {
  font-size: 36px;
  margin-top: 6px;
}

#brand-name img {
  height: 60px;
  width: auto;
}

.social-media-icons a {
  background-color: #FFFFFF;
  color: #525252;
  display: inline-block;
  height: 30px;
  margin-left: 8px;
  padding: 0px 6px 0px;
  text-align: center;
}

.social-media-icons a:hover {
  text-decoration: none;
}

#hours {
  margin-top: 18px;
}

#hours-button {
  color: #A5216F;
  font-family: 'Oswald', sans-serif;
  font-size: 1.8rem;
  letter-spacing: 1.5px;
  text-decoration: none;
}

#hours-button:hover {
  color: #C879A9;
  text-decoration: underline;
  -webkit-text-decoration-color: #A5216F;
          text-decoration-color: #A5216F;
}

#main_navbar {
  background-color: #000000;
  border: none;
  z-index: 1000;
}

#main_navbar a {
  color: black;
}

#main_navbar .dropdown-menu li,
#top-databases li {
  line-height: 34px;
}

#main_navbar .nav-item > a {
  color: #FFFFFF;
  font-size: 22px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

#top-nav-bar .navbar-toggler {
  border-width: 2px;
}

#top-nav-bar .navbar .navbar-toggler-icon {
  padding: 12px;
  font-size: 18px;
  font-weight: 400;
}

.dropdown-menu h2 {
  font-size: 18px;
}

.dropdown-menu ul li a {
  font-size: 15px;
  line-height: 22px;
}

/* Page Content */

#image-background {
  background-image: url("/img/mckay-library-outside-west-wing.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 270px;
  z-index: 1;
}

#search-box {
  background-color: rgba(82, 82, 82, 0.8);
  bottom: -20%;
  height: 170px;
  z-index: 10;
}

#search-box input,
#search-box select {
  border-radius: 0px;
}

.btn.btn-default {
  color: #FFFFFF;
  background-color: #525252;
  border-color: #525252;
  border-radius: 0px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.btn.btn-default:hover {
  background-color: #D2D2D2;
  border-color: #D2D2D2;
}

#main-search-form .btn.btn-default[type="submit"] {
  color: #000000;
  background-color: #EBEBEB;
  border-color: #EBEBEB;
}

#main-search-form .btn-group-vertical .btn.btn-default {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding-bottom: 3px;
  padding-top: 3px;
}

#main-search-form .btn-group-vertical {
  padding-left: 18.5px;
  padding-right: 18.5px;
  padding-top: 18.5px;
}

#main-search-form .btn-group-vertical[data-toggle=buttons] > fieldset > .btn > input[type=radio] {
  display: none;
}

#main-search-form .btn-group-vertical[data-toggle=buttons] label {
  margin-bottom: 6px;
}

#main-search-form .btn-group-vertical .btn.btn-default {
  color: #000000;
  background-color: #EBEBEB;
  border-color: #EBEBEB;
}

#main-search-form .btn-group-vertical .btn.btn-default.active {
  color: #FFFFFF;
  background-color: #A5216F;
  border-color: #A5216F;
}

#main-search-form #search-input-container {
  margin-top: 52px;
  padding-right: 18.5px;
}

a#advanced-search-link {
  color: #FFFFFF;
  padding-right: 18.5px;
  white-space: nowrap;
}

.form-check label {
  color: #FFFFFF;
}

.form-check input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -4px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.form-check input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -4px;
  left: -1px;
  position: relative;
  background-color: #A5216F;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

#button-container {
  background-color: #EBEBEB;
}

#button-container a.btn:hover {
  background-color: #D2D2D2;
}

.clip-svg {
  width: 0;
  height: 0;
}

.clip-wrap {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}

.clip-each {
  width: 100px;
  height: 100px;
  position: relative;
}

.clip-each:after {
  content: "";
  position: absolute;
  background: #fff;
}

.clip-each,
.clip-each:after {
  -webkit-clip-path: polygon(20% 0, 100% 0, 100% 80%, 80% 100%, 0 100%, 0 20%);
  clip-path: polygon(20% 0, 100% 0, 100% 80%, 80% 100%, 0 100%, 0 20%);
  -webkit-clip-path: url("#octagon-clip");
          clip-path: url("#octagon-clip");
}

.border-style-thin {
  background-color: #000000;
}

div[id^="button-link-"]:hover .border-style-thin {
  background-color: #A5216F;
}

.border-style-thin:after {
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
}

div[id^="button-link"] img {
  height: auto;
  left: -10px;
  margin-bottom: -68%;
  position: relative;
  top: -10px;
  width: 120px;
  z-index: 10000;
}

div[id^="button-link"] a {
  background-color: #EBEBEB;
  border-color: #EBEBEB;
  border-radius: 0px;
  font-size: 16px;
  height: 200px;
  width: 100%;
}

/* Event Cards */

.event-header {
  background-color: #ebebeb;
}

/* styles for '...' */

/* create the ... */

/* hide ... if we have text, which is less than or equal to max lines */

.event-header h2 {
  color: #000000;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1.5px;
  margin-bottom: 0px;
  padding: .2em .5em .2em;
  text-transform: uppercase;
}

.event-cards .card-header {
  background-color: #525252;
  color: #FFFFFF;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  letter-spacing: 1.5px;
  line-height: 18px;
  padding-top: .20em;
  padding-bottom: .20em;
  text-align: center;
  text-transform: uppercase;
  width: 50%;
  -webkit-clip-path: polygon(10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px);
  clip-path: polygon(10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px);
}

.event-cards .card-body {
  padding: 0px;
}

.event-cards .event-title {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  padding: 6px 0px;
}

.event-cards .time {
  bottom: 6px;
  position: absolute;
}

.event-cards #upcoming-library-events a .card-body {
  color: #000000;
}

.event-cards #upcoming-library-events a:hover {
  text-decoration: none;
}

div.event-card {
  border-right: 1px solid #ebebeb;
  cursor: pointer;
  padding-bottom: 1em;
  padding-top: 1em;
}

div.event-card:last-child {
  border-right: none;
}

#top-databases h2 {
  font-size: 1.2rem;
}

#top-databases h3 {
  font-size: 1.1rem;
}

#top-databases ul {
  list-style: none;
  padding-left: 8px;
}

#top-databases a {
  color: #000000;
  text-decoration: none;
}

#top-databases a:hover {
  text-decoration: underline;
}

.card,
.card-header,
.card-body,
.card-footer {
  border-radius: 0px !important;
}

.event-date {
  font-weight: bold;
}

.event-title {
  color: #A5216F;
}

.event-location {
  font-style: italic;
}

#service-highlight {
  height: auto;
  padding: 0px;
  width: 100%;
  z-index: 1;
}

.carousel-indicators li.box {
  background-color: #EBEBEB;
  cursor: pointer;
  height: 15px;
  width: 15px;
}

.carousel-indicators li.box.active {
  background-color: #A5216F;
}

.carousel-indicators li.arrow {
  border: solid #000000;
  border-width: 0 3px 3px 0;
  cursor: pointer;
  display: inline-block;
  height: 10px;
  margin-top: 2px;
  padding: 3px;
  width: 10px;
}

.carousel-indicators li.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.carousel-indicators li.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

/* Footer */

#footer {
  background-color: #000000;
  color: #FFFFFF;
  height: 164px;
  padding: 18px;
}

#footer h2 {
  font-size: 18px;
  text-transform: uppercase;
}

#footer ul {
  list-style: none;
  padding-left: 6px;
}

#footer a {
  color: #FFFFFF;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}

#footer .social-media-icons a {
  background-color: #FFFFFF;
  color: #000000;
  display: inline-block;
  height: 32px;
  padding: 4px 4px;
  text-align: center;
  width: 32px;
}

#footer .social-media-icons a:hover {
  text-decoration: none;
}

.breadcrumbs a {
  color: #A5216F;
}

.breadcrumbs span {
  color: #525252;
}

.page-title {
  background-color: #EBEBEB;
  padding: 6px 0px;
}

.page-title h1 {
  color: #525252;
  font-size: 2rem;
  line-height: 2.2rem;
}

/* Faculty Resources */

#faculty-resource-banner {
  background-color: #EBEBEB;
  height: 380px;
}

.faculty-resources h2 {
  color: #000000;
  text-transform: uppercase;
}

.faculty-resources a {
  color: #525252;
}

.faculty-resources a.btn.btn-default {
  height: 26px;
  padding: 0px;
  width: 104px;
}

/* A-Z List */

#mckay-alpha-databases {
  text-align: center;
}

#mckay-alpha-databases .alpha-filter {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  letter-spacing: 1.5px;
  padding: 6px 10px;
  width: 34px;
}

#mckay-alpha-databases .alpha-filter:last-child {
  padding: 6px 4px;
  width: 38px;
}

#mckay-alpha-databases .alpha-filter:hover {
  background-color: #A5216F;
  border-color: #A5216F;
  color: #FFFFFF;
}

#mckay-alpha-databases .alpha-filter.active {
  background-color: #A5216F;
  border-color: #A5216F;
  color: #FFFFFF;
}

.ais-pagination--item {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  letter-spacing: 1.5px;
  padding: 6px 10px;
  width: 34px;
  text-align: center;
}

.ais-pagination--item a {
  color: #000000;
}

.ais-pagination--item:hover a,
.ais-pagination--item__active a {
  color: #FFFFFF !important;
}

.ais-pagination--item:hover:not(.ais-pagination--item__disabled),
.ais-pagination--item__active {
  background-color: #A5216F;
  border-color: #A5216F;
  color: #FFFFFF;
}

#mckay-az-subjects .list-group-item {
  background-color: #EBEBEB;
  cursor: pointer;
}

#mckay-az-subjects .list-group-item:first-child,
#mckay-az-subjects .list-group-item:last-child {
  border-radius: 0px;
}

#mckay-az-subjects .list-group-item.active {
  background-color: #D2D2D2;
  border-color: #D2D2D2;
  color: #000000;
}

#mckay-az-subjects .list-group-item:hover {
  background-color: #D2D2D2;
  color: #000000;
}

/*
#mckay-az-subjects .list-group-item.active .badge{
    background-color: #82C242;
    border-color: #82C242;
    color: #FFFFFF;
}*/

#mckay-az-subjects .list-group-item .badge {
  background-color: #525252;
  border-radius: 0px;
  color: #FFFFFF;
  padding: 6px;
}

#database-search-form input {
  border-radius: 0px;
}

.nav.nav-tabs {
  border-bottom: 2px solid #A5216F;
}

.nav.nav-tabs .nav-item .nav-link {
  border-radius: 0px;
  color: #525252;
}

.nav.nav-tabs .nav-item .nav-link.active {
  border-color: #A5216F;
  border-radius: 0px;
}

.nav.nav-tabs .nav-item .nav-link:hover {
  border-color: #A5216F #A5216F #A5216F;
}

.nav.nav-tabs .nav-item .nav-link.active {
  background-color: #A5216F;
  border-color: #A5216F #A5216F #A5216F;
  color: #FFFFFF;
}

#mckay-database-home #top-databases h2 {
  color: #000000;
}

.mckay-database {
  margin-bottom: 12px;
}

.mckay-database .media-heading a {
  color: #525252;
}

#top-databases h2 {
  font-family: "Oswald", sans-serif;
  letter-spacing: 1.5px;
  /*border-bottom: 2px solid #E1E1E1;*/
  text-transform: uppercase;
}

#top-databases img.top-database-icon {
  height: auto;
  width: 26px;
}

.hit .hit-name a {
  color: #525252;
}

.hit .badge {
  border-radius: 0px;
}

.hit .label-combined-search {
  background-color: #0076C6;
  border-color: #0076C6;
  color: #FFFFFF;
}

.hit .label-full-text {
  background-color: #AD0C20;
  border-color: #AD0C20;
  color: #FFFFFF;
}

.hit .label-abstracts {
  background-color: #63174E;
  border-color: #63174E;
  color: #FFFFFF;
}

.hit .label-remote-access {
  background-color: #F59B42;
  border-color: #F59B42;
  color: #000000;
}

.hit .label-tutorial {
  background-color: #FEE060;
  border-color: #FEE060;
  color: #000000;
}

.hit .label-license-info {
  background-color: #82C242;
  border-color: #82C242;
  color: #FFFFFF;
}

.hit .copy-send-link {
  background-color: #000000;
  border-color: #000000;
  color: #FFFFFF;
}

.table-borderless,
.table-borderless tr,
.table-borderless td {
  border: none !important;
}

/* Contact Tabs */

#directories .nav-tabs {
  border-bottom: 2px solid #A5216F;
}

#directories .nav-item .nav-link {
  border-radius: 0px;
  color: #525252;
}

#directories .nav-item .nav-link.active {
  border-color: #A5216F;
  border-radius: 0px;
}

#directories .nav-item .nav-link:hover {
  border-color: #A5216F #A5216F #A5216F;
}

#directories .nav-item .nav-link.active {
  background-color: #A5216F;
  border-color: #A5216F #A5216F #A5216F;
  color: #FFFFFF;
}

#directories .college {
  background-color: #EBEBEB;
}

@media (max-width: 575.98px) {
  a#advanced-search-link {
    display: none;
    font-size: .75rem;
  }

  #database-search-form .btn.btn-default {
    display: block;
    margin: 4px 0px !important;
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  a#advanced-search-link {
    display: none;
    font-size: .75rem;
  }

  #image-background {
    height: 500px;
  }

  #search-box {
    height: 400px;
  }

  #search-box input[type="text"] {
    margin-left: 22.5px !important;
    margin-right: 1.5px !important;
  }

  #search-box #search-button-container {
    padding-left: 22.5px !important;
  }

  #main-search-form .btn-group-vertical .btn.btn-default {
    font-size: 8px;
    line-height: 18px;
  }

  #database-search-form .btn.btn-default {
    display: block;
    margin: 4px 0px !important;
    width: 100%;
    font-size: 8px;
  }
}

@media (max-width: 991.98px) {
  a#advanced-search-link {
    font-size: .75rem;
  }

  #main-search-form .btn-group-vertical .btn.btn-default {
    font-size: 8px;
    line-height: 18px;
  }

  #database-search-form .btn.btn-default {
    font-size: 8px;
    line-height: 24px;
  }

  #database-search-form .btn.btn-default {
    margin: 0px 0px 4px 0 !important;
  }

  #database-search-form .btn.btn-default:first-child {
    margin-left: -20px !important;
  }
}

@media (max-width: 1199.98px) {
  .navbar-brand > img {
    height: 50px !important;
  }
}

@media (min-width: 1450px) {
  .navbar-brand {
    margin-left: -125px !important;
  }

  .navbar-right,
  #hours {
    margin-right: -125px !important;
  }
}

